<h2>Collections <% if user_signed_in? %><small class="pull-right"><%= link_to "Create Collection", new_collection_path %></small><% end %></h2>
<%= render @collections || "No collections...yet." %>
<%= will_paginate @collectins, :page_links => false, renderer: BootstrapPagination::Rails %>
