<h2>Teams <small class="pull-right"><%= link_to "Create Team", new_team_path %></small></h2>
<%= render @teams || "No teams...yet." %>
<%= will_paginate @teams, :page_links => false, renderer: BootstrapPagination::Rails %>
