<h1>New team</h1>
<p class="lead">
    Want to recognize your team on Swish? Fill out this form, invite members
    to join your team, and show off your team's snippets to the world.
</p>
<%= render 'form' %>
