<% if user_signed_in? %>
  <div class="nav-user navbar-right">
    <a href="<%= user_path(current_user) %>">
      <div class="nav-avatar">
        <img src="<%= avatar_url(current_user, 40) %>" class="nav-avatar-image" />
      </div>
      <span class="nav-username"><%= current_user.username %></span>
    </a>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => 'nav-logout') %>
  </div>
<% end %>
