<div class="panel panel-warning">
    <div class="panel-heading">
        <div class="panel-title">Please login to create a snippet</div>
    </div>
    <div class="panel-body">
        You need to be logged in to create snippets on Swish.
    </div>
</div>

