<% if user_signed_in? %>
<h1>
    Welcome back to Swish
    <a class="small pull-right" data-toggle="collapse" data-target="#snippet_form" aria-expanded="true" aria-controls="snippet_form">
        Quick Snippet Form <span class="caret"></span>
    </a>
</h1>
<div id="snippet_form" class="collapse">
    <%= render :partial => "snippets/form" %>
</div>
<% else %>
    <div class="bs-component">
        <div class="jumbotron">
            <h1>Welcome to Swish</h1>
            <p>Swish is an easy and social way to organize and share your code snippets in the cloud.</p>
            <p>
                <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
                or <%= link_to 'Login', new_user_session_path %>
            </p>
        </div>
    </div>
<% end %>
<hr>
<div class="row">
  <%= render @snippets %>
</div>
