/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootswatch/flatly/variables";
@import "bootstrap";
body { padding-top: 100px; padding-bottom: 20px; }
a:hover { background: none; }
.alert a { color: white; font-weight: bold; }
.dropdown-toggle { cursor: pointer; }
.btn-primary { color:white!important; }
.nav-user { padding: 9px 0px 9px 0px; float: left; }
.nav-user-text { float: left; }
.nav-avatar { margin-right: 5px; float: left; width: 40px; }
.nav-avatar-image { height: 40px; width: 40px; display: inline-block; border-radius: 3px; }
.nav-username { font-size: 16px; display: block; color: white; font-weight: 900; cursor: pointer; }
.nav-logout { line-height: 16px; color: white; }
a.nav-logout:visited { color: white; }
pre { border-radius: 0px; border: none; }
.content { margin-top: 20px; }
.field_with_errors {
  display: block;
  border: none;
  background: none;
  padding: 0px;
  @extend .has-error;
 }
@import "bootswatch/flatly/bootswatch";
