// Place all the styles related to the Snippets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tt-query,
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-query {
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 200px;
    padding: 8px 0;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #2c3e50;
    cursor: pointer;
}

.tt-suggestion p {
    margin: 0;
}
